@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:400|Monda:400');

html {font-size: 100%;} /*16px*/

p {
    font-family: 'Monda', sans-serif;
    font-weight: 400;
    line-height: 1.65;
    color: #333;
    margin-bottom: 1.15rem;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 2.488em;
}

h2 {font-size: 2.074em;}

h3 {font-size: 1.728em;}

h4 {font-size: 1.44em;}

h5 {font-size: 1.2em;}

small, .text_small {font-size: 0.833em;}

div {
    font-family: 'Monda', sans-serif;
    font-weight: 400;
    line-height: 1.65;
    color: #333;
}

/* Header   */

.jumbotron {
    background-image: url("../img/blueprints.jpg");
}

.jumbotron h1{
    color: rgb(0, 168, 233);
    text-shadow: 4px 3px #000000;
}

.jumbotron p {
    color: white;
    text-shadow: 4px 3px #000000;
}

.navbar {
    background-color: rgb(34,31,88);
}

.navbar .nav-link {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.3rem;
}

#GR {
    width: 50%;
}

/* Home */

.row div {
    transition: 0.4s ease-in-out;  
    background-color: rgb(255, 255, 255);
}

.row div:hover {
    background-color: aliceblue;
}

/* Home */

#quote {
    border: 4px solid coral;
    background-color: #4b4b4b;
    color: white;
}

/* About */

.cover {
    margin-top: 50px;
}

@media only screen and (max-width: 1070px) {
    .pynchonquote {
        display: none
    }
}

.pynchonquote {
    margin-top: 27%;
    font-size: 2vw;
    float: left;
}

/* Map */

#map {
    margin: auto;
}

/* Image */

.d {
    color: white;
}